# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
apimail/vendor/autoload.php
apimail/vendor/composer/autoload_classmap.php
apimail/vendor/composer/autoload_namespaces.php
apimail/vendor/composer/autoload_psr4.php
apimail/vendor/composer/autoload_real.php
apimail/vendor/composer/autoload_static.php
apimail/vendor/composer/ClassLoader.php
apimail/vendor/composer/installed.json
apimail/vendor/composer/installed.php
apimail/vendor/composer/InstalledVersions.php
apimail/vendor/composer/LICENSE
apimail/vendor/composer/platform_check.php
apimail/vendor/phpmailer/phpmailer/.editorconfig
apimail/vendor/phpmailer/phpmailer/COMMITMENT
apimail/vendor/phpmailer/phpmailer/composer.json
apimail/vendor/phpmailer/phpmailer/get_oauth_token.php
apimail/vendor/phpmailer/phpmailer/LICENSE
apimail/vendor/phpmailer/phpmailer/README.md
apimail/vendor/phpmailer/phpmailer/SECURITY.md
apimail/vendor/phpmailer/phpmailer/VERSION
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-af.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-ar.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-as.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-az.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-ba.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-be.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-bg.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-bn.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-ca.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-cs.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-da.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-de.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-el.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-eo.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-es.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-et.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-fa.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-fi.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-fo.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-fr.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-gl.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-he.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-hi.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-hr.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-hu.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-hy.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-id.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-it.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-ja.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-ka.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-ko.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-lt.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-lv.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-mg.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-mn.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-ms.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-nb.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-nl.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-pl.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-pt_br.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-pt.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-ro.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-ru.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-si.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-sk.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-sl.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-sr_latn.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-sr.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-sv.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-tl.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-tr.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-uk.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-vi.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-zh_cn.php
apimail/vendor/phpmailer/phpmailer/language/phpmailer.lang-zh.php
apimail/vendor/phpmailer/phpmailer/src/DSNConfigurator.php
apimail/vendor/phpmailer/phpmailer/src/Exception.php
apimail/vendor/phpmailer/phpmailer/src/OAuth.php
apimail/vendor/phpmailer/phpmailer/src/OAuthTokenProvider.php
apimail/vendor/phpmailer/phpmailer/src/PHPMailer.php
apimail/vendor/phpmailer/phpmailer/src/POP3.php
apimail/vendor/phpmailer/phpmailer/src/SMTP.php
